.title {
	font-size: 25px;
	padding: 10px 0px;
}
.sub {
	padding: 0 20px;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
}
.subtitle {
	font-size: 20px;
	padding: 8px 0px;
}
.content {
	margin-left: 20px;
	user-select: text;
}
.stream {
	display: flex;
	align-items: center;
}
.streamsub {
	display: flex;
	padding: 0 20px;
	align-items: center;
}
.copybtn {
	background: 0 0;
	border: none;
}
.copybtn svg {
	width: 20px;
	height: 20px;
	fill: var(--color-content-02);
	stroke: var(--color-content-02);
}

.change {
	display: flex;
	justify-content: center;
	border: 2px solid #01ab8c;
	border-radius: 19px;
	padding: 10px 15px;
	height: 100%;
	width: max-content;
	margin-left: 20px;
}
.change input {
	background: 0 0;
	border: none;
	color: var(--color-content-01);
	outline: none;
	width: 500px;
	font-size: 16px;
}
.change button {
	background: 0 0;
	border: 1px solid ghostwhite;
	padding: 6px 10px;
	border-radius: 5px;
	color: var(--color-content-01);
	cursor: pointer;
	position: relative;
}
.change button:hover {
	background-color: var(--color-bg-05);
}
.spinner {
	margin-left: 15px;
}
