.btn1 {
	margin: 0 5px;
	background: 0 0;
	border: none;
	color: var(--color-content-01);
}
.btn2 {
	margin: 0 30px 0px 5px;
	background: 0 0;
	border: 1px solid ghostwhite;
	padding: 6px 10px;
	border-radius: 5px;
	color: var(--color-content-01);
}
.btn2:hover {
	background-color: var(--color-bg-05);
}
