/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
	--header-height: 60px;
}

@media (prefers-color-scheme: light) {
	:root {
		--color-bg-01: #fff;
		--color-bg-02: #f5f5f5;
		--color-bg-03: #f5f5f5;
		--color-bg-04: #f5f5f5;
		--color-bg-05: #ccc;
		--color-bg-06: #2e3033;
		--color-content-01: #141517;
		--color-content-02: #2e3033;
		--color-content-03: #2e3033;
		--color-content-04: #666;
		--color-content-05: grey;
		--color-content-06: #999;
		--color-content-07: #b3b3b3;
		--color-content-08: #ccc;
		--color-content-09: #fff;
	}
}
@media (prefers-color-scheme: dark) {
	:root {
		--color-bg-01: #141517;
		--color-bg-02: #212325;
		--color-bg-03: #373a3f;
		--color-bg-04: #2e3033;
		--color-bg-05: #4d4d4d;
		--color-bg-06: #c9cedc;
		--color-content-01: #fff;
		--color-content-02: #dfe2ea;
		--color-content-03: #c9cedc;
		--color-content-04: #9da5b6;
		--color-content-05: #697183;
		--color-content-06: #858894;
		--color-content-07: #525662;
		--color-content-08: #2e3033;
		--color-content-09: #141517;
	}
}

:root.dark {
	--color-bg-01: #141517;
	--color-bg-02: #212325;
	--color-bg-03: #373a3f;
	--color-bg-04: #2e3033;
	--color-bg-05: #4d4d4d;
	--color-bg-06: #c9cedc;
	--color-content-01: #fff;
	--color-content-02: #dfe2ea;
	--color-content-03: #c9cedc;
	--color-content-04: #9da5b6;
	--color-content-05: #697183;
	--color-content-06: #858894;
	--color-content-07: #525662;
	--color-content-08: #2e3033;
	--color-content-09: #141517;
}

:root.light {
	--color-bg-01: #fff;
	--color-bg-02: #f5f5f5;
	--color-bg-03: #f5f5f5;
	--color-bg-04: #f5f5f5;
	--color-bg-05: #ccc;
	--color-bg-06: #2e3033;
	--color-content-01: #141517;
	--color-content-02: #2e3033;
	--color-content-03: #2e3033;
	--color-content-04: #666;
	--color-content-05: grey;
	--color-content-06: #999;
	--color-content-07: #b3b3b3;
	--color-content-08: #ccc;
	--color-content-09: #fff;
}

body {
	background-color: var(--color-bg-01);
	font-family: 'Sandoll Nemony2', 'Apple SD Gothic NEO', 'Helvetica Neue', Helvetica, 나눔고딕, NanumGothic, 'Malgun Gothic', '맑은 고딕', 굴림, gulim, 새굴림,
		'noto sans', 돋움, Dotum, sans-serif;
}
