.sidebar {
	position: fixed;
	left: 0;
	top: 0;
	width: 240px;
	z-index: 600;
	background-color: var(--color-bg-01);
	display: flex;
	height: 100%;
	flex-direction: column;
}

.nav {
	flex-grow: 1;
}
.nav hr {
	color: var(--color-content-02);
}
