.togglebtn {
	background: 0 0;
	border: none;
	color: var(--color-content-01);
	width: 50px;
	height: 50px;
	margin: 10px 5px 5px 10px;
}
.togglebtn svg {
	border-radius: 5px;
	cursor: pointer;
}
.togglebtn svg:hover {
	background-color: var(--color-bg-03);
}
