.channels {
	color: var(--color-content-03);
	padding: 5px 18px 10px 18px;
	margin-top: 10px;
	user-select: none;
}
.channelsTitle {
	display: flex;
	justify-content: space-between;
	font-size: 15px;
	font-weight: 600;
	height: max-content;
	letter-spacing: -0.3px;
	text-align: left;
}

.resetbtn,
.openbtn {
	background: 0 0;
	border: none;
	cursor: pointer;
}
.resetbtn svg,
.openbtn svg {
	fill: var(--color-content-03);
}

.streamer {
	display: flex;
	align-items: center;
	padding: 3px 7px;
	margin: 2px 0px;
	border-radius: 10px;
	cursor: pointer;
}
.streamer:hover {
	background-color: var(--color-bg-03);
}
.streamLogo {
	/* border: 3px ridge #01ab8c; */
	box-shadow: 0 0 0 2px #000, 0 0 0 4px #01ab8c;
	border-radius: 50%;
	background-color: var(--color-bg-06);
}
.streamInfo {
	margin: 0 10px;
	flex-grow: 1;
}

.streamInfo p:first-child {
	font-size: 13px;
	font-weight: 800;
}
.streamInfo p:last-child {
	margin-top: 0px;
	font-size: 11px;
}
.viewer {
	font-size: 12px;
	color: red;
	font-weight: 700;
	position: relative;
}
.viewer::before {
	content: '';
	position: absolute;
	top: 50%;
	left: -8px;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: red;
	transform: translateY(-60%);
}
