.type {
	color: var(--color-content-03);
	padding: 5px 18px 10px 18px;
	user-select: none;
}
.type li {
	padding: 5px 8px;
	display: flex;
	align-items: center;
	border-radius: 5px;
	cursor: pointer;
}
.type li:hover {
	background-color: var(--color-bg-03);
}
.type li svg {
	fill: var(--color-content-03);
	height: 26px;
	width: 26px;
}
.type li p {
	padding-left: 10px;
	font-size: 13px;
	font-weight: 700;
}
.Link {
	text-decoration: none;
	color: var(--color-content-03);
}
.title {
	display: flex;
	font-size: 15px;
	font-weight: 600;
	height: max-content;
	letter-spacing: -0.3px;
	text-align: left;
}
