.btns {
	display: flex;
	align-items: center;
}

.followBtn {
	appearance: none;
	background-color: var(--color-theme-02);
	border: 1px solid rgba(27, 31, 35, 0.15);
	border-radius: 20px;
	box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
	box-sizing: border-box;
	color: var(--color-bg-01);
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	font-weight: 900;
	padding: 7px 20px;
	position: relative;
	text-align: center;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: middle;
	white-space: nowrap;
}

.followBtn:focus:not(:focus-visible):not(.focus-visible) {
	box-shadow: none;
	outline: none;
}

.followBtn:hover {
	background-color: var(--color-theme-04);
}

.followBtn:focus {
	box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
	outline: none;
}

.followBtn:disabled {
	background-color: #94d3a2;
	border-color: rgba(27, 31, 35, 0.1);
	color: rgba(255, 255, 255, 0.8);
	cursor: default;
}

.followBtn:active {
	background-color: #298e46;
	box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}
